* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

/* ------- Window Background ------- */
div#windowBg {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0vw;
    top: 0vh;
    background-color: black;
    z-index: 6;
}

div#backsplash {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-image: url(graph/backdroplippi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -3;
}

/* -------Header( Navigation Menu )------- */
header {
    background-color: #26bd9c;
    width: 100%;
    height: 2.8rem;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: 'Eczar', serif;
    z-index: 11;
    box-shadow: 0px 0.25px 2px white;
}

header div.logoAndMenuBar {
    width: 3.4rem;
    height: 3.0rem;
    padding: 0.1rem 0.4rem;
    margin: 0.17rem 0rem 0rem 0rem;
}

header div.logoAndMenuBar a {
    text-decoration: none;
}

header div.logoAndMenuBar a img#logo {
    width: 2.8rem;
    height: 2.5rem;
    margin: 0rem auto;
}

header nav {
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul a {
    text-decoration: none;
    color: #122B44;
}

header nav ul a li {
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    margin: 0.4rem 1.7rem 0.2rem 1.7rem;
    text-align: center;
    font-size: 15px;
    line-height: 1.2rem;
    border-radius: 15px;
    box-shadow: 1px 1px 5px white;
    background-color: #26BD9C;
}

header nav ul a li.active {
    color: white;
}

header nav ul a li:after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    margin-top: 0.3rem;
    background-color: #122B44;
    box-shadow: 1px 1px 7px white;
    transition: 0.3s;
}

header nav ul a li#act:after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 0.3rem;
    background-color: #122B44;
    box-shadow: 1px 1px 7px white;
    transition: 0.3s;
}

header nav ul a li:hover:after {
    width: 100%;
}

header nav ul a li.active:after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 0.3rem;
    background-color: white;
    box-shadow: 1px 1px 7px white;

}

header div.logoAndMenuBar img.menuBar {
    display: none;
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
}

/* -------Platform Welcome Message------- */
div.platformWelcomeMessage {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 9.7rem;
    font-family: 'Abhaya Libre', serif;
}

div.platformWelcomeMessage div.h1 {
    font-size: 35px;
    font-family: 'Abhaya Libre', serif;
}

div.platformWelcomeMessage div.h1 span#targetWelcome {
    color: #122B44;
}

div.platformWelcomeMessage div.h4 {
    font-size: 12px;
    font-family: 'Abhaya Libre', serif;
}

div.platformWelcomeMessage div#welcomeImage img {
    width: 395px;
    height: 270.5px;
}

div.platformWelcomeMessage p {
    font-size: 15px;
    font-family: 'Abhaya Libre', serif;
    width: 75%;
    padding: 0.1rem 0.1rem;
}

div.scrollContentContainer {
    position: absolute;
    top: 100vh;
    left: 0rem;
    width: 100%;
}

/* -------The Bridge Section------- */
section.theBridgeSection {
    width: 45%;
    text-align: center;
    color: whitesmoke;
    padding: 1rem 0.2rem;
    margin: 4rem auto 4.3rem;
    font-family: 'Abhaya Libre', serif;
}

section.theBridgeSection h1 {
    font-family: 'Eczar', serif;
    font-size: 33px;
    line-height: 2rem;
    color: white;
    margin: 0rem auto 1.7rem;
}

section.theBridgeSection div.theBridgeContent div.theBridgeParagraph {
    font-size: 21px;
    text-align: center;
    align-items: center;
    padding: 0.5rem 1rem;
}

/* ------- Search/Acquisition of Boat, Aircraft and Automotive ------- */

section.sAcBAA {
    background-color: rgba(0, 0, 0, 0.38);
    text-align: center;
    margin-top: 1.5rem;
}

section.sAcBAA div.iSAcBtAtAeCon {
    
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe {
    width: 99%;
    height: 77vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0rem auto 0.2rem;
}

section.sAcBAA div.iSAcBtAtAeCon div#iSAcBtAtAe1 {
    background: url(JPEG/Yachtbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section.sAcBAA div.iSAcBtAtAeCon div#iSAcBtAtAe2 {
    background: url(JPEG/airplane-taking-off-sunset-scene-generative-ai.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section.sAcBAA div.iSAcBtAtAeCon div#iSAcBtAtAe3 {
    background: url(JPEG/pexels-brady-knoll-3221163.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon {
    height: 77vh;
    padding: 20vh 2rem 0rem;
    background-color: rgba(0, 0, 0, 0.398)
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon:hover {
    background-color: rgba(0, 0, 0, 0.298)
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon a button {
    font-family: 'Cinzel', serif;
    position: relative;
    cursor: pointer;
    width: 20vw;
    height: 4rem;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.822);
    border: 2px solid white;
    color: white;
    z-index: 1;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon a button:hover {
    background-color: rgba(139, 0, 0, 0.672);
    color: white;
    border: 2px solid black;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon p {
    width: 40%;
    font-size: 20px;
    color: white;
    margin: 2rem auto;
}

/* -------How To Use The Platform------- */
section.howToUseThePlatform {
    font-family: 'Abhaya Libre', serif;
    margin-top: 0rem;
    padding-top: 0.1rem;
}

section.howToUseThePlatform div.hTUTPContent {
    color: whitesmoke;
    padding-bottom: 1rem;
}

section.howToUseThePlatform div.hTUTPContent h3 {
    text-align: center;
    font-family: 'Eczar', serif;
    font-size: 27px;
    line-height: 2rem;
    padding: 0.2rem 0.3rem;
    margin: 2.8rem 0rem 0.4rem 0rem;
}

section.howToUseThePlatform div.hTUTPContent h3 span#targetSteps {
    color: rgb(139, 0, 0);
}

section.howToUseThePlatform div.hTUTPContent #imgLS {
    width: 35px;
    height: 35px;
    position: fixed;
    left: 94vw;
    top: 9vh;
    background-color: darkred;
    z-index: 8;
    padding: 3px 3px;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

#imgAS, #imgMS, #imglS {
    display: none;
}

section.howToUseThePlatform div.hTUTPContent #imgLS:hover {
    background-color: #122B44;
    border: 2px solid white;
}

section.howToUseThePlatform div.hTUTPContent div.steps {
    width: 70%;
    border: 1.5px solid #339d884a;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.652);
    margin: 1rem auto 0.8rem;
}

section.howToUseThePlatform div.hTUTPContent div.steps h4 {
    font-size: 24px;
    color: rgb(255, 255, 255);
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent {
    display: flex;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg {
    height: 158px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem 0rem;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg .iReplica {
    width: 437px;
    margin-right: 1rem;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg img.stepsPImg {
    width: 437px;
    height: 158px;
    position: absolute;
    border: 1px solid grey;
    border-radius: 3px;
    cursor: pointer;
    transform: scale(1);
    transition: 0.4s;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg img.stepsPImg:hover {
    border: 1px solid white;
    box-shadow: 3px 3px 4px #2feac1;
    transform: scale(1.03);
}

.img1450MQ,
.img685MQ,
.img359MQ {
    display: none;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsPN {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 1.5rem 0.1rem 0.9rem;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsPN p {
    font-size: 21px;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsPN p span#MediaQ359 {
    display: none;
}

/* -------Boat, Aircraft and Automotive News------- */
section {
    margin-top: 3rem;
    font-family: 'Abhaya Libre', serif;
}

section h3 {
    text-align: center;
    font-family: 'Eczar', serif;
    font-size: 27px;
    line-height: 2rem;
    padding: 0.1rem;
    margin-bottom: 1.6rem;
    color: whitesmoke;
}

section div.news {
}

section div.news div.swiper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section div.news div.swiper div.img {

}

section div.news div.swiper div.img button {
    cursor: pointer;
}

section div.news div.swiper div.img button.preBtn {
    margin-left: 2.1rem;
    margin-right: 0.8rem;
}

section div.news div.swiper div.img button.nxtBtn {
    margin-right: 2.1rem;
    margin-left: 0.8rem;
}

section div.news div.swiper div.img  button img {
    width: 2rem;
    height: 2.1rem;
    padding: 0.2rem;
}

.gate {
    width: 4.5rem;
    height: 14.2rem;
    position: absolute;
    background-image: linear-gradient(90deg, #226764, transparent);
    z-index: 5;
}

#leftGate {
    left: 10%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: none;
}

#rightGate {
    display: block;
    right: 10%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: linear-gradient(-90deg, #226764, transparent);
}

section div.news div.swiper div.swiperWrapper {
    width: 80%;
    box-shadow: 0.08rem 0.05rem 0.3rem whitesmoke;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0.9rem 0.3rem 1.2rem 1.5rem;
    border: 1px solid #22676482;
    border-radius: 8px;
    display: flex;
}

section div.news div.swiper div.swiperWrapper::-webkit-scrollbar {
    display:  none;
}

section div.news div.swiper div.swiperWrapper div.swiperSlide {
    background: #FEFDF9;
    padding: 0.3rem 0.1rem 1rem 0.1rem;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 1rem;
    display: flex;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
}

section div.news div.swiper div.swiperWrapper div.swiperSlide:hover {
    background: rgba(255, 255, 255, 0.818);
    transform: scale(1.09);
}

section div.news div.swiper div.swiperWrapper div.swiperSlide a {
    text-decoration: none;
}

section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkImg {
    margin: 0rem 0.3rem;
}

section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkImg img {
    width: 7.5rem;
    height: 7.5rem;
    border: 5px solid #26BD9C;
    border-radius: 50%;
    margin-bottom: 1rem;
    overflow: hidden;
}

section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkTitle {
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #339D87;
    border-radius: 6px;
}

section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkTitle p {
    font-size: 17px;
    text-align: center;
    color: white;
}


/* -------Closing Note------- */
section.closingNote {
    width: 99%;
    text-align: center;
     background-color: rgba(139, 0, 0, 0.672);;
    padding: 1rem 0.2rem;
    margin: 6rem auto 0rem;
    font-family: 'Abhaya Libre', serif;
    color: white;
}

section.closingNote div.closingNoteContent {
    display: inline-flex;
}

section.closingNote div.closingNoteContent img {
    width: 237px;
    height: 174.2px;
    border-radius: 50%;
    padding: 0.5rem 0.5rem;
    box-shadow: 2px 1px 3px #FEFDF9;
}

section.closingNote div.closingNoteContent div.closingNoteParagraph {
    height: 172.2px;
    font-size: 21px;
    display: flex;
    text-align: left;
    align-items: center;
    padding: 0.5rem 0.5rem;
    margin-left: 1rem;
}

/* -------KINGDOM EVENT PUBLICITY------- */
section.KEP {
    font-family: 'Cinzel', serif;
    color: white;
    padding: 0.3rem 0.3rem;
    margin:  2.3rem 3.5rem 1.3rem 3.5rem;
}

section.KEP .KEPframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(139, 0, 0, 0.672);
    padding-bottom: 1.2rem;
}

section.KEP .KEPframe .KEPcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.KEP .KEPframe .KEPcontent div.h1KEP {
    width: 65vw;
    font-size: 23px;
    text-align: center;
    padding: 0rem 5rem;
    margin: 1rem 0rem 0.7rem 0rem;
}

section.KEP .KEPframe .KEPcontent video {
    width: 65vw;
    height: 63vh;
    cursor: pointer;
    background-color: black;
    border: none;
}

.bottomFrame {
    width: 65vw;
    height: 1.7rem;
    background-color: black;
    margin: 0.3rem 0rem 0.3rem 0rem;
}

.screenStand {
    width: 27%;
    height: 2.1rem;
    background-color: black;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-top: -0.3rem;
}

/* -------FOOTER------- */
footer {
    display: flex;
    font-family: 'Abhaya Libre', serif;
    flex-direction: column;
    background: url(graph/backdroplippi.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #26BD9C;
    opacity: 0.9;
    padding-top: 1.2rem;
    margin-top: 5rem;
}

footer div.fterImgCon {
    width: 90px;
    height: 86.5px;
    margin: 1rem auto;
    border-radius: 50%;
    background-color: #26BD9C;
    border: 5px solid black;
}

footer div.fterImgCon img {
    width: 90px;
    height: 86.5px;
}

footer div.linksContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.8rem;
}

footer div.anchorLink h4 {
    font-family: 'Cinzel', serif;
    font-size: 19px;
    text-align: left;
    padding: 0rem 0.3rem;
    margin: 0.3rem 0rem 1.2rem 0rem;
    color: rgb(139, 0, 0);
}

footer div.anchorLink ul {
    list-style: none;
}

footer div.anchorLink ul li {
    height: 19px;
    text-align: left;
    font-size: 20px;
    padding: 0.1rem 0.3rem;
    margin: 0.8rem 0rem;
}

footer div#quickLink h4 {
    text-align: center;
}

footer div#quickLink ul li {
    text-align: center;
}

footer div.anchorLink ul li a {
    text-decoration: none;
    color: black;
    padding: 0rem 0.3rem;
}

footer div.anchorLink ul li a:hover {
    background-color: #32f3c9;
    border-radius: 7px;
}

footer div.anchorLink ul li a#redQLink {
    color: white;
    background-color: transparent;
}

footer div.anchorLink ul li a img {
    width: 19px;
    height: 19px;
}

hr#beforeRmrk {
    width: 15%;
    margin: 0.1rem auto;
    box-shadow: 1px 1px 3px whitesmoke;
}

footer div.footerRmrk {
    width: 50%;
    font-size: 18px;
    text-align: center;
    margin: 0.8rem auto;
}

footer div.footerRmrk p {
    background-color: transparent;
    color: black;
}

footer div.footerRmrk p#supportEmail {
    background-color: transparent;
    color: rgb(139, 0, 0);
}

footer p {
    width: 99%;
    font-size: 18px;
    font-family: 'Abhaya Libre', serif;
    text-align: center;
    padding: 0.2rem 0.3rem;
    color: whitesmoke;
    background-color: black;
    margin: 0.4rem auto;
}



/* ---MEDIA QUERY FOR 1550PX OF WIDTH--- */
@media(max-width: 1550px) {

/* -------Header( Navigation Menu )------- */
header {
    box-shadow: 0px 0.12px 2px white;
}

header div.logoAndMenuBar {
    width: 2.9rem;
    height: 2.6rem;
    padding: 0.2rem 0.4rem;
    margin: 0.25rem 0rem 0rem 0rem;
}

header div.logoAndMenuBar a img#logo {
    width: 2.5rem;
    height: 2.3rem;
}

header nav ul a li {
    padding: 0rem 0.2rem -0.2rem 0.2rem;
    margin: 0.7rem 1.4rem 0.2rem 1.4rem;
    font-size: 14px;
    border-radius: 13px;
}

header nav ul a li:after {
    margin-top: 0.1rem;
}

header nav ul a li:hover:after {
    width: 100%;
}

header nav ul a li.active:after {
    margin-top: 0.1rem;
}

/* -------Platform Welcome Message------- */

div.platformWelcomeMessage div.h1 {
    font-size: 31px;
}

div.platformWelcomeMessage div.h4 {
    font-size: 9px;
}

div.platformWelcomeMessage div#welcomeImage img {
    width: 382px;
    height: 213.2px;
}

div.platformWelcomeMessage p {
    font-size: 16.2px;
}

/* -------The Bridge Section------- */

section.theBridgeSection {
    width: 70%;
    margin: 1.7rem auto 2.3rem;
}

section.theBridgeSection h1 {
    width: 70%;
    font-size: 30px;
}

section.theBridgeSection div.theBridgeContent div.theBridgeParagraph {
    font-size: 19px;
    padding: 0.5rem 0.5rem;
}

/* ------- Search/Acquisition of Boat, Aircraft and Automotive ------- */

section.sAcBAA {
    margin-top: 1.5rem;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe {
    height: 57vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 0.2rem;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon {
    height: 57vh;
    padding: 20vh 2rem 0rem;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon a button {
    width: 37vw;
    height: 3.5rem;
    font-size: 20px;
    border: 1.5px solid white;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon a button:hover {
    border: 1.5px solid black;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon p {
    width: 59%;
    font-size: 18px;
    color: white;
    margin: 1.3rem auto;
}

/* -------How To Use The Platform------- */

section.howToUseThePlatform div.hTUTPContent h3 {
    font-size: 26px;
    padding: 0.2rem 0.3rem;
    margin: 2.8rem 1.5rem 0.4rem 1.5rem;
}

section.howToUseThePlatform div.hTUTPContent #imgAS {
    width: 30px;
    height: 30px;
    position: fixed;
    left: 94vw;
    top: 10vh;
    z-index: 8;
    background-color: rgb(139, 10, 10);
    border-radius: 50%;
    padding: 2.5px 2.5px;
    border: 1.5px solid transparent;
    cursor: pointer;
    display: none;
}

#imgLS, #imgMS, #imglS {
    display: none;
}

section.howToUseThePlatform div.hTUTPContent #imgAS:hover {
    background-color: #122B44;
    border: 1.5px solid white;
}

section.howToUseThePlatform div.hTUTPContent div.steps {
    width: 85%;
    border: 1px solid #339D87;
    padding: 0.5rem 0.5rem;
    margin: 1rem auto 0rem;
}

section.howToUseThePlatform div.hTUTPContent div.steps h4 {
    font-size: 20px;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg {
    height: 145px;
    margin: 0.1rem 0rem;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg .iReplica {
    width: 310px;
    margin-right: 0.5rem;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg img.img1450MQ {
    display: block;
    width: 310px;
    height: 130px;
    position: absolute;
    border: 1px solid grey;
    border-radius: 3px;
    cursor: pointer;
    transform: scale(1);
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg img.img1450MQ:hover {
    border: 1px solid white;
    box-shadow: 2px 2px 3px #2feac1;
    transform: scale(1.03);
}

.stepsPImg,
.img685MQ,
.img359MQ {
    display: none;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsPN {
    padding: 0.1rem 0.5rem;
}

section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsPN p {
    font-size: 19px;
}
 
/* -------Boat, Aircraft and Automotive News------- */

section h3 {
    font-size: 26px;
}

section div.news div.swiper div.img button.preBtn {
    margin-left: 2.3rem;
    margin-right: 1rem;
}

section div.news div.swiper div.img button.nxtBtn {
    margin-right: 2.3rem;
    margin-left: 1rem;
}

section div.news div.swiper div.img  button img {
    width: 2rem;
    height: 2.1rem;
}

.gate {
    width: 3.5rem;
    height: 14.9rem;
}

#leftGate {
    left: 12.2%;
}

#rightGate {
    right: 12.2%;
}

section div.news div.swiper div.swiperWrapper {
    width: 75%;
}

section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkImg img {
    width: 8rem;
    height: 8rem;
}

section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkTitle p {
    font-size: 17px;
}


/* -------Closing Note------- */

section.closingNote div.closingNoteContent img {
    width: 215px;
    height: 158.2px;
}

section.closingNote div.closingNoteContent div.closingNoteParagraph {
    font-size: 19px;
}

/* -------KINGDOM EVENT PUBLICITY------- */
section.KEP {
    padding: 0.2rem 0.2rem;
    margin:  1.7rem 0rem 0.8rem 0rem;
}

section.KEP .KEPframe .KEPcontent div.h1KEP {
    width: 87%;
    font-size: 20px;
    padding: 0.2rem 0.2rem;
    margin: 1rem 0rem 0.3rem 0rem;
}

section.KEP .KEPframe .KEPcontent video {
    width: 91%;
    height: 37vh;
}

.bottomFrame {
    width: 91%;
    height: 1rem;
    margin: 0.23rem 0rem 0.23rem 0rem;
}

.screenStand {
    width: 27%;
    height: 1.8rem;
    margin-top: -0.23rem;
}

/* -------FOOTER------- */
footer {
    padding-top: 1rem;
    margin-top: 3.8rem;
}

footer div.fterImgCon {
    width: 80px;
    height: 76.9px;
    margin: 0.8rem auto;
    border: 3.5px solid black;
}

footer div.fterImgCon img {
    width: 80px;
    height: 76.9px;
}

footer div.linksContainer {
    margin-bottom: 0.8rem;
}

footer div.anchorLink h4 {
    font-size: 16px;
    margin: 0.35rem 0rem 0.4rem 0rem;
}

footer div.anchorLink ul li {
    height: 16.5px;
    font-size: 16px;
    padding: 0.1rem 0.25rem;
    margin-top: 0.35rem;
}

footer div.anchorLink ul li a:hover {
    border-radius: 6px;
}

footer div.anchorLink ul li a img {
    width: 16.5px;
    height: 16.5px;
}

footer div.footerRmrk {
    width: 75%;
    font-size: 15.5px;
    margin: 0.7rem auto;
}

footer p {
    font-size: 16px;
    padding: 0.2rem 0.2rem;
    margin: 0.3rem auto;
}


}








/* ---MEDIA QUERY FOR 685PX OF WIDTH--- */
@media(max-width: 685px) {

    /* -------Header( Navigation Menu )------- */
    header {
        display: inline-block;
        height: 2.7rem;
    }

    header div.logoAndMenuBar {
        padding: 0.1rem 0.4rem;
        margin-top: 0.1rem 0rem;
    }

    header div.logoAndMenuBar a img#logo {
        width: 2.5rem;
        height: 2.3rem;
    }

    header nav {
        width: 0%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0rem;
        top: 0rem;
        margin-top: 0px;
        background: url(JPEG/background4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
        transition: 1.2s;
    }

    header nav ul {
        margin-top: 2rem;
    }

    header nav ul a li {
        width: 8rem;
        line-height: 1.8rem;
        background-color: #26BD9C;
        margin-top: 2.25rem;
        margin-left: 1rem;
        padding: 0rem 0.2rem;
        font-family: 'Eczar', serif;
        font-size: 16px;
    }

    header nav ul a li.active {
        background-color: #122B44;
    }

    header nav ul a li:active {
        background-color: #32f3c9;
    }

    header nav ul a li:after {
        content: '';
        display: none;
    }

    header nav ul a li.active:after {
        content: '';
        display: none;
    }

    header nav ul li a:hover {
        color: white;
    }

    header div.logoAndMenuBar img.menuBar {
        width: 1.7rem;
        height: 1.7rem;
        display: block;
        position: absolute;
        z-index: 1;
        right: 0rem;
        top: 0rem;
        margin: 0.5rem 0.6rem 1rem 0rem;
    }

    header div.logoAndMenuBar img#close {
        display: none;
    }

    /* -------Platform Welcome Message------- */
    div.platformWelcomeMessage {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 8.7rem;
        font-family: 'Ubuntu', sans-serif;
    }

    div.platformWelcomeMessage div.h1 {
        font-size: 29px;
    }

    div.platformWelcomeMessage div.h4 {
        font-size: 12.5px;
    }

    div.platformWelcomeMessage div.h1 span#targetWelcome {
        color: #122B44;
    }

    div.platformWelcomeMessage div#welcomeImage img {
        width: 310px;
        height: 225.5px;
    }

    div.platformWelcomeMessage p {
        font-size: 13.5px;
    }

    /* -------The Bridge Section------- */
    section.theBridgeSection {
        width: 92%;
        margin-top: 0.7rem;
    }

    section.theBridgeSection h1 {
        width: 90%;
        font-size: 27.5px;
    }

    section.theBridgeSection div.theBridgeContent {
        display: block;
        margin-top: 0.7rem;
    }

    section.theBridgeSection div.theBridgeContent img {
        width: 75%;
        height: 67px;
        padding: 0.1rem 0.4rem;
        border-radius: 50%;
    }

    section.theBridgeSection div.theBridgeContent div.theBridgeParagraph {
        height: auto;
        font-size: 19px;
        display: block;
        text-align: center;
        padding: 0.5rem 0.8rem;
    }

    /* ------- Search/Acquisition of Boat, Aircraft and Automotive ------- */

section.sAcBAA {
    margin-top: 1.5rem;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe {
    height: 40vh;
    margin-bottom: 0.2rem;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon {
    height: 40vh;
    padding: 13vh 2rem 0rem;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon a button {
    width: 62vw;
    height: 2.5rem;
    font-size: 18px;
    border: 1.5px solid white;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon a button:hover {
    border: 1.5px solid black;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon p {
    width: 80vw;
    font-size: 16.5px;
    margin: 0.7rem auto;
}

    /* -------How To Use The Platform------- */
    
    section.howToUseThePlatform div.hTUTPContent h3 {
        line-height: 1.7rem;
        font-size: 23.5px;
    }
    
    section.howToUseThePlatform div.hTUTPContent #imgMS {
        width: 29px;
        height: 29px;
        position: fixed;
        left: 90vw;
        top: 11vh;
        z-index: 8;
        background-color: rgb(139, 10, 10);
        padding: 2px 2px;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        display: none;
    }
    
    #imgLS, #imgAS, #imglS {
        display: none;
    }
    
    section.howToUseThePlatform div.hTUTPContent #imgMS:hover {
        background-color: #122B44;
        border: 1px solid white;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps {
        width: 92%;
        border: 1px solid #339D87;
        padding: 0.3rem 0.3rem;
        margin: 1rem auto 0rem;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps h4 {
        font-size: 18px;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg {
        height: 115px;
        margin: 0.2rem 0rem;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg .iReplica {
        width: 130px;
        margin-right: 0.7rem;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg img.img685MQ {
        width: 130px;
        height: 78px;
        position: absolute;
        border: 1px solid grey;
        border-radius: 3px;
        cursor: pointer;
        display: block;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg img.img1450MQ {
        display: none;
    }
    .stepsPImg,
    .img359MQ {
        display: none;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsPN {
        padding: 0.1rem 0rem;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsPN p {
        font-size: 19px;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsPN p span#MediaQ359 {
        display: inline;
    }

    /* -------Boat, Aircraft and Automotive News------- */
    section h3 {
        line-height: 1.7rem;
        font-size: 23.5px;
        padding: 0.3rem 1rem;
        margin: 0rem 0.7rem;
    }

    section div.news div.swiper div.img button.preBtn {
        margin-left: 0.4rem;
        margin-right: 0.5rem;
    }
    
    section div.news div.swiper div.img button.nxtBtn {
        margin-right: 0.4rem;
        margin-left: 0.5rem;
    }

    section div.news div.swiper div.img  button img {
        width: 1.4rem;
        height: 1.5rem;
        padding: 0.2rem;
    }

    .gate {
        width: 1.5rem;
        height: 10.8rem;
    }
    
    #leftGate {
        left: 14%;
    }
    
    #rightGate {
        right: 14%;
    }

    section div.news div.swiper div.swiperWrapper {
        width: 72%;
        padding: 0.9rem 0rem 1.2rem 0.6rem;
    }

    section div.news div.swiper div.swiperWrapper div.swiperSlide {
        border-radius: 14px;
        margin-right: 0.6rem;
    }

    section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkImg img {
        width: 4.5rem;
        height: 4.5rem;
        margin-bottom: 0.2rem;
        border: 2px solid #26BD9C;
    }

    section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkTitle {
        height: 1.6rem;
        border-radius: 4px;
        padding: 1rem 0.1rem;
        border: 1px solid #26BD9C;
    }

    section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkTitle p {
        line-height: 1rem;
        font-size: 16.5px;
    }

    /* -------Closing Note------- */
    section.closingNote {
        margin-top: 3.5rem;
    }

    section.closingNote div.closingNoteContent {
        display: block;
        margin-top: 0.7rem;
    }

    section.closingNote div.closingNoteContent img {
        width: 75%;
        height: 67px;
        padding: 0.1rem 0.4rem;
        border-radius: 50%;
    }

    section.closingNote div.closingNoteContent div.closingNoteParagraph {
        height: auto;
        font-size: 19px;
        display: block;
        text-align: center;
        padding: 0.5rem 0.5rem;
    }

    /* -------KINGDOM EVENT PUBLICITY------- */
section.KEP {
    padding: 0.3rem 0.3rem;
    margin:  2.3rem 0.2rem 1.3rem 0.2rem;
}

section.KEP .KEPframe .KEPcontent div.h1KEP {
    width: 93%;
    font-size: 18px;
    margin: 1rem 0rem 0.2rem 0rem;
}

section.KEP .KEPframe .KEPcontent video {
    width: 93%;
    height: 23vh;
}

.bottomFrame {
    width: 93%;
    height: 0.5rem;
    margin: 0.15rem 0rem 0.15rem 0rem;
}

.screenStand {
    width: 27%;
    height: 1rem;
    margin-top: -0.15rem;
}

    /* -------Footer------- */
    footer {
        padding-top: 0.5rem;
        margin-top: 3rem;
    }
    
    footer div.fterImgCon {
        width: 58px;
        height: 55.5px;
        margin: 0.75rem auto;
        border: 2.5px solid black;
    }
    
    footer div.fterImgCon img {
        width: 58px;
        height: 55.5px;
    }
    
    footer div.linksContainer {
        margin-bottom: 0.9rem;
    }

    footer div.anchorLink h4 {
        font-size: 14px;
        margin: 0.45rem 0rem 0.45rem 0rem;
    }
    
    footer div.anchorLink ul li {
        height: 15px;
        font-size: 15px;
        margin-top: 0.3rem;
    }
    
    footer div.anchorLink ul li a img {
        width: 15px;
        height: 15px;
    }
    
    footer div.footerRmrk {
        width: 80%;
        font-size: 14.5px;
        margin: 0.9rem auto;
    }
    
    footer p {
        font-size: 15px;
        padding: 0.2rem 0.2rem;
        margin: 0.3rem auto;
    }
    
}





/* ---MEDIA QUERY FOR 359PX OF WIDTH--- */
@media(max-width: 359px) {

    /* -------Header( Navigation Menu )------- */
    header {
        height: 2.4rem;
    }

    header div.logoAndMenuBar a img#logo {
        width: 2.1rem;
        height: 1.9rem;
    }

    header nav ul a li {
        line-height: 1.4rem;
        font-size: 15px;
    }

    header div.logoAndMenuBar img.menuBar {
        width: 1.4rem;
        height: 1.4rem;
    }

    /* -------Platform Welcome Message------- */
    div.platformWelcomeMessage {
        margin-top: 7.2rem;
    }

    div.platformWelcomeMessage div.h1 {
        font-size: 22.3px;
    }

    div.platformWelcomeMessage div.h4 {
        font-size: 11.8px;
    }

    div.platformWelcomeMessage div.h1 span#targetWelcome {
        color: #122B44;
    }

    div.platformWelcomeMessage div#welcomeImage img {
        width: 237px;
        height: 162.3px;
    }

    div.platformWelcomeMessage p {
        font-size: 11.8px;
    }

    /* -------The Bridge Section------- */
    section.theBridgeSection {
        width: 97%;
    }

    section.theBridgeSection div.h1KEP {
        font-size: 26px;
    }

    section.theBridgeSection div.theBridgeContent div.theBridgeParagraph {
        width: 100%;
        font-size: 17px;
    }

    /* ------- Search/Acquisition of Boat, Aircraft and Automotive ------- */

section.sAcBAA {
    margin-top: 1.5rem;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon a button {
    width: 71vw;
    height: 2.3rem;
    font-size: 17px;
}

section.sAcBAA div.iSAcBtAtAeCon div.iSAcBtAtAe div.aLCon p {
    width: 95%;
    font-size: 15px;
}

    /* -------How To Use The Platform------- */
    
    section.howToUseThePlatform div.hTUTPContent h3 {
        width: 100%;
        line-height: 1.6rem;
        font-size: 22px;
        margin: 2.8rem 0rem 0.3rem 0rem;
    }
    
    section.howToUseThePlatform div.hTUTPContent #imglS {
        width: 27px;
        height: 27px;
        position: fixed;
        left: 87vw;
        top: 10vh;
        z-index: 8;
        background-color: rgb(139, 10, 10);
        padding: 2px 2px;
        border: 1px solid transparent;
        border-radius: 50%;
        cursor: pointer;
        display: none;
    }
    
    #IMGLS, #imgAS, #imgMS {
        display: none;
    }
    
    section.howToUseThePlatform div.hTUTPContent #imglS:hover {
        background-color: #122B44;
        border: 1px solid white;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps {
        width: 95%;
        border: 1px solid #339D87;
        padding: 0.3rem 0rem 0.1rem 0.1;
        margin: 1rem auto 0rem;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps h4 {
        font-size: 17.5px;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg {
        height: 158px;
        margin: 0.2rem 0.2rem 0.2rem 0rem;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg .iReplica {
        width: 120px;
        margin: 0rem 0.1rem 0rem 0rem;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg img.img359MQ {
        width: 120px;
        height: 72px;
        position: absolute;
        border: 1px solid grey;
        border-radius: 3px;
        cursor: pointer;
        display: block;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg img.stepsPImg,
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg img.img1450MQ,
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsImg img.img685MQ {
        display: none;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsPN {
        padding: 0.1rem 0rem;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsPN p {
        font-size: 17px;
    }
    
    section.howToUseThePlatform div.hTUTPContent div.steps .stepContent .stepsPN p span#MediaQ359 {
        display: inline;
    }

    /* -------Boat, Aircraft and Automotive News------- */
    section h3 {
        line-height: 1.6rem;
        font-size: 22px;
    }

    section div.news div.swiper div.img button.preBtn {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }
    
    section div.news div.swiper div.img button.nxtBtn {
        margin-right: 0.3rem;
        margin-left: 0.3rem;
    }

    section div.news div.swiper div.img  button img {
        width: 1rem;
        height: 1.1rem;
        padding: 0.16rem;
    }

    .gate {
        width: 1.3rem;
        height: 10.3rem;
    }

    section div.news div.swiper div.swiperWrapper {
        padding: 0.9rem 0rem 1.2rem 0.7rem;
    }

    section div.news div.swiper div.swiperWrapper div.swiperSlide {
        border-radius: 12px;
        margin-right: 0.6rem;
    }

    section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkImg img {
        width: 4rem;
        height: 4rem;
    }

    section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkTitle {
        height: 1.2rem;
    }

    section div.news div.swiper div.swiperWrapper div.swiperSlide a div.linkTitle p {
        font-size: 15.5px;
    }

    /* -------Closing Note------- */
    section.closingNote {
        margin-top: 2rem;
    }

    section.closingNote div.closingNoteContent div.closingNoteParagraph {
        font-size: 17px;
    }

    /* -------KINGDOM EVENT PUBLICITY------- */
    section.KEP {
        padding: 0.3rem 0.3rem;
        margin:  2.3rem 0.2rem 1.3rem 0.2rem;
    }
    
    section.KEP .KEPframe .KEPcontent h1 {
        width: 93%;
        font-size: 17px;
        margin: 1rem 0rem 0.2rem 0rem;
    }
    
    section.KEP .KEPframe .KEPcontent video {
        width: 93%;
        height: 21vh;
    }
    
    .bottomFrame {
        width: 93%;
        height: 0.3rem;
        margin: 0.13rem 0rem 0.13rem 0rem;
    }

    .screenStand {
        width: 27%;
        height: 0.7rem;
        margin-top: -0.13rem;
    }

    /* -------footer------- */
    footer {
        padding-top: 0.45rem;
        margin-top: 2.8rem;
    }
    
    footer div.fterImgCon {
        width: 50px;
        height: 47.8px;
    }
    
    footer div.fterImgCon img {
        width: 50px;
        height: 47.8px;
    }

    footer div.anchorLink h4 {
        text-align: center;
        font-size: 12px;
        margin: 0.45rem 0rem 0.45rem 0rem;
    }
    
    footer div.anchorLink ul li {
        height: 14px;
        font-size: 14px;
        margin-top: 0.2rem;
    }
    
    footer div.anchorLink ul li a img {
        width: 14px;
        height: 14px;
    }
    
    footer div.footerRmrk {
        width: 92%;
        font-size: 13.5px;
    }
    
    footer p {
        font-size: 14px;
        padding: 0.2rem 0.1rem;
        margin: 0.25rem auto;
    }
    
}
