* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

div#window {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: #339D87;
    background-image: url(JPEG/redcharlie-redcharlie1-h2_OMqGcAHU-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 78%;
    z-index: 3;
    visibility: hidden;
}

div#backsplash {
    position: absolute;
    width: 100%;
    height: 135vh;
    top: 0;
    background-color: #339D87;
    background-image: url(JPEG/redcharlie-redcharlie1-h2_OMqGcAHU-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -3;
}

div.backsplash {
    position: absolute;
    width: 100%;
    height: 135vh;
    top: 0;
    background: black;
    opacity: 50%;
    background-repeat: no-repeat;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: 'Eczar', serif;
    z-index: 11;repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

/* -------Header( Navigation Menu )------- */
header {
    background-color: #26BD9C;
    width: 100%;
    height: 2.8rem;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: 'Eczar', serif;
    z-index: 11;
    box-shadow: 0px 0.25px 2px white;
}

header div.logoAndMenuBar {
    width: 3.4rem;
    height: 3.0rem;
    padding: 0.1rem 0.4rem;
    margin: 0.17rem 0rem 0rem 0rem;
}

header div.logoAndMenuBar a {
    text-decoration: none;
}

header div.logoAndMenuBar a img#logo {
    width: 2.8rem;
    height: 2.5rem;
    margin: 0rem auto;
}

header nav {
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul a {
    text-decoration: none;
    color: #122B44;
}

header nav ul a li {
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    margin: 0.4rem 1.7rem 0.2rem 1.7rem;
    text-align: center;
    font-size: 15px;
    line-height: 1.2rem;
    border-radius: 15px;
    box-shadow: 1px 1px 5px white;
}

header nav ul a li.active {
    color: white;
}

header nav ul a li:after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    margin-top: 0.3rem;
    background-color: #122B44;
    box-shadow: 1px 1px 7px white;
    transition: 0.3s;
}

header nav ul a li:hover:after {
    width: 100%;
}

header nav ul a li.active:after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 0.3rem;
    background-color: white;
    box-shadow: 1px 1px 7px white;

}

header div.logoAndMenuBar img.menuBar {
    display: none;
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
}

/* -------Form------- */
section.boatSearch {
    font-family: 'Abhaya Libre', serif;
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2.3rem;
    color: white;
}

section.boatSearch h1 {
    width: 90%;
    font-family: 'Eczar', serif;
    font-size: 29px;
    line-height: 2rem;
    color: rgb(222, 222, 222);
    text-align: center;
    margin-bottom: 0.8rem;
}

section.boatSearch p {
    font-size: 20.5px;
    text-align: center;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
}

section.boatSearch p:hover {
    background: rgb(14, 14, 14);
    box-shadow: 1px 1px 4px white;
}

section.boatSearch p a {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    padding: 0.5rem;
    margin-right: 0.2rem;
    transition: 0.7s;
}

section.boatSearch form {
}

section.boatSearch form div.formEntrance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.boatSearch form div.formEntrance div.specAndRequirement {
    display: flex;
    flex-direction: column;
}

section.boatSearch form div.formEntrance label.sARLabel {
    width: 100%;
    background-color: #26BD9C;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0.13rem;
}

section.boatSearch form div.formEntrance label {
    width: 9rem;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    background-color: #26BD9C;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

section.boatSearch form div.formEntrance label:active {
     background: #32f3c9;
}

section.boatSearch form div.formEntrance textarea {
    width: 40vw;
    height: 12rem;
    font-family: 'Abhaya Libre', serif;
    font-size: 20px;
    padding: 0.1rem 0.2rem;
    outline: none;
    background-color: aliceblue;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

section.boatSearch form div.importNote {
    width: 75%;
    font-size: 20px;
    text-align: center;
    margin: 0.8rem 0rem;
}

section.boatSearch form div.contactInformation {
}

section.boatSearch form div.diContact {
    display: flex;
    column-gap: 1rem;
    margin: 0.2rem 0rem;
}

section.boatSearch form div.diContact input {
    width: 21rem;
    height: 1.9rem;
    font-size: 20px;
    padding: 0.1rem 0.3rem;
    outline: none;
    background-color: aliceblue;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

section.boatSearch form div.formEntrance button {
    width: 8.5rem;
    height: 1.8rem;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 2rem;
    color: white;
    background-color: rgb(14, 14, 14);
    box-shadow: 0px 0px 5px white;
    transition: 0.5s;
}

section.boatSearch form div.formEntrance button:hover {
    color: rgb(14, 14, 14);
    background-color: white;
}

section.boatSearch form div.formEntrance div.popUp{
    background: rgb(222, 218, 218);
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 6px;
    border: 5px solid #26BD9C;
    border-radius: 15px;
    transform: scale(0.1);
    visibility: hidden;
    transition: 0.4s;
}

section.boatSearch form div.formEntrance div.popUp img{
    width: 70px;
    height: 70px;
}

section.boatSearch form div.formEntrance div.popUp h3{
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 13px;
}

section.boatSearch form div.formEntrance div.popUp p{
    min-height: 4rem;
    width: 95%;
    display: flex;
    padding: 0.2rem 0.2rem;
    color: #122B44;
    font-size: 22px;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 13%;
}

section.boatSearch form div.formEntrance div.popUp a{
    width: 65px;
    text-decoration: none;
    color: white;
    font-size: 19px;
    text-align: center;
    border: 2px solid #26BD9C;
    background: #389581;
    box-shadow: 1px 1px 3px #26BD9C;
    margin: 9px 0px 4px 0px;
}

section.boatSearch form div.formEntrance div.popUp a:hover{
    border: 2px solid #389581;
    background: #26BD9C;
    box-shadow: 1px 1px 3px #389581
}

/* -------FOOTER------- */
div.scrollContentContainer {
    position: absolute;
    top: 135vh;
    left: 0rem;
    width: 100%;
    background-color: #339D87;
}

footer {
    background-color: #26BD9C;
    display: flex;
    flex-direction: column;
    color: #122B44;
    padding: 1rem 1rem;
    margin-top: 1.5rem;
}

footer div.footerLogo {
    text-align: center;
}

footer div.footerLogo img {
    width: 84px;
    height: 80.7px;
}

footer div.footerPortContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

footer div.footerPortContainer h4 {
    font-size: 21px;
    font-family: 'Abhaya Libre', serif;
}

footer div.footerPortContainer ul {
    list-style: none;
}

footer div.footerPortContainer ul li a {
    width: 8rem;
    text-decoration: none;
    color: white;
    display: inline-flex;
    align-items: center;
    margin-top: 0.7rem;
}

footer div.footerPortContainer ul li a:hover {
    background-color: #125754;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

footer div.footerPortContainer ul li a.active {
    color: #122B44;
}

footer div.footerPortContainer ul li a img {
    width: 16.5px;
    height: 16.5px;
    margin-right: 0.35rem;
}

footer div.footerPortContainer ul li a p {
    font-family: 'Abhaya Libre', serif;
    font-size: 18px;
}

footer p#copyright {
    text-align: center;
    font-size: 17px;
    font-family: 'Abhaya Libre', serif;
    padding: 0.3rem;
    margin-top: 0.3rem;
    background: url(JPEG/background3.jpg);
    color: white;
}



/* ---MEDIA QUERY FOR 1450PX OF WIDTH--- */
@media(max-width: 1450px) {

    /* -------Header( Navigation Menu )------- */
header {
    box-shadow: 0px 0.12px 2px white;
}

header div.logoAndMenuBar {
    width: 2.9rem;
    height: 2.6rem;
    padding: 0.2rem 0.4rem;
    margin: 0.25rem 0rem 0rem 0rem;
}

header div.logoAndMenuBar a img#logo {
    width: 2.5rem;
    height: 2.3rem;
}

header nav ul a li {
    padding: 0rem 0.2rem -0.2rem 0.2rem;
    margin: 0.7rem 1.4rem 0.2rem 1.4rem;
    font-size: 14px;
    border-radius: 13px;
}

header nav ul a li:after {
    margin-top: 0.1rem;
}

header nav ul a li:hover:after {
    width: 100%;
}

header nav ul a li.active:after {
    margin-top: 0.1rem;
}

/* -------Form------- */

section.boatSearch h1 {
    width: 92%;
    font-size: 28px;
}

section.boatSearch p {
    width: 92%;
    font-size: 19px;
}

section.boatSearch form div.formEntrance label {
    width: 7rem;
    font-size: 22px;
}

section.boatSearch form div.formEntrance textarea {
    width: 32rem;
    height: 10rem;
    font-size: 19px;
}

section.boatSearch form div.importNote {
    font-size: 18px;
}

section.boatSearch form div.diContact input {
    width: 17rem;
    height: 1.7rem;
    font-size: 16px;
}

section.boatSearch form div.formEntrance button {
    width: 7.5rem;
    height: 1.6rem;
    font-size: 17px;
}

section.boatSearch form div.formEntrance div.popUp img{
    width: 60px;
    height: 60px;
}

section.boatSearch form div.formEntrance div.popUp h3{
    font-size: 23px;
}

section.boatSearch form div.formEntrance div.popUp p{
    font-size: 19px;
}

section.boatSearch form div.formEntrance div.popUp a{
    font-size: 16px;
}

/* -------FOOTER------- */

footer div.footerLogo img {
    width: 80px;
    height: 76.9px;
}

footer div.footerPortContainer h4 {
    font-size: 18px;
}

footer div.footerPortContainer ul li a:hover {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

footer div.footerPortContainer ul li a img {
    width: 15px;
    height: 15px;
}

footer div.footerPortContainer ul li a p {
    font-size: 15px;
}

footer p#copyright {
    font-size: 15px;
}

}






/* ---MEDIA QUERY FOR 685PX OF WIDTH--- */
@media(max-width: 685px) {

    /* -------Header( Navigation Menu )------- */
    header {
        display: inline-block;
        height: 2.7rem;
    }

    header div.logoAndMenuBar {
        padding: 0.1rem 0.4rem;
        margin-top: 0.1rem 0rem;
    }

    header div.logoAndMenuBar a img#logo {
        width: 2.5rem;
        height: 2.3rem;
    }

    header nav {
        width: 0%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0rem;
        top: 0rem;
        margin-top: 0px;
        background: url(JPEG/background4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
        transition: 1.2s;
    }

    header nav ul {
        margin-top: 2rem;
    }

    header nav ul a li {
        width: 8rem;
        line-height: 1.8rem;
        background-color: #26BD9C;
        margin-top: 2.25rem;
        margin-left: 1rem;
        padding: 0rem 0.2rem;
        font-family: 'Eczar', serif;
        font-size: 16px;
    }

    header nav ul a li.active {
        background-color: #122B44;
    }

    header nav ul a li:active {
        background-color: #32f3c9;
    }

    header nav ul a li:after {
        content: '';
        display: none;
    }

    header nav ul a li.active:after {
        content: '';
        display: none;
    }

    header nav ul li a:hover {
        color: white;
    }

    header div.logoAndMenuBar img.menuBar {
        width: 1.7rem;
        height: 1.7rem;
        display: block;
        position: absolute;
        z-index: 1;
        right: 0rem;
        top: 0rem;
        margin: 0.5rem 0.6rem 1rem 0rem;
    }

    header div.logoAndMenuBar img#close {
        display: none;
    }

    /* -------Form------- */
    section.boatSearch {
        margin-top: 3.3rem;
        row-gap: 0.4rem;
        padding: 1rem 0.3rem;
    }

    section.boatSearch h1 {
        line-height: 1.7rem;
        font-size: 24.5px;
        margin-bottom: 0.5rem;
    }

    section.boatSearch p {
        width: 95%;
        font-size: 18.5px;
        margin-bottom: 0.5rem;
    }

    section.boatSearch p a {
        padding: 0.13;
    }

    section.boatSearch form div.formEntrance label.sARLabel {
        border-top-left-radius: 7.2px;
        border-top-right-radius: 7.2px;
        border-bottom-left-radius: 0px;
        margin-bottom: 0.13rem;
    }

    section.boatSearch form div.formEntrance label {
        width: 30%;
        height: 1.7rem;
        font-size: 20px;
        border-top-left-radius: 7.2px;
        border-bottom-left-radius: 7.2px;
    }

    section.boatSearch form div.formEntrance textarea {
        width: 91vw;
        height: 8rem;
        font-size: 18px;
        border-bottom-left-radius: 7.2px;
        border-bottom-right-radius: 7.2px;
    }

    section.boatSearch form div.importNote {
        width: 95%;
        font-size: 17px;
        margin: 0.5rem 0rem;
    }

    section.boatSearch form div.diContact {
        margin: 0.2rem 0rem;
        column-gap: 0.3rem;
    }

    section.boatSearch form div.diContact input {
        width: 65%;
        height: 1.7rem;
        font-size: 18px;
        padding: 0.1rem 0.3rem;
        border-top-right-radius: 7.2px;
        border-bottom-right-radius: 7.2px;
    }

    section.boatSearch form div.formEntrance button {
        width: 7.2rem;
        height: 1.7rem;
        font-size: 18px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.7rem;
        box-shadow: 0px 0px 20px white;
    }

    section.boatSearch form div.formEntrance div.popUp{
        width: 85vw;
        border-radius: 13px;
    }

    section.boatSearch form div.formEntrance div.popUp img{
        width: 45px;
        height: 45px;
    }

    /* -------Footer------- */
    footer {
        padding: 0.5rem 0.5rem;
        margin-top: 1rem;
    }

    footer div.footerLogo img {
        width: 58px;
        height: 55.5px;
    }

    footer div.footerPortContainer {
        padding: 0.7rem 1rem;
    }

    footer div.footerPortContainer h4 {
        font-size: 17.5px;
    }

    footer div.footerPortContainer ul li a {
        width: 5rem;
        margin-top: 0.7rem;
    }

    footer div.footerPortContainer ul li a img {
        width: 14.5px;
        height: 14.5px;
    }

    footer div.footerPortContainer ul li a p {
        font-size: 14.5px;
    }

    footer p#copyright {
        font-size: 14.5px;
        padding: 0.3rem;
        margin-top: 0.3rem;
    }

}







/* ---MEDIA QUERY FOR 359PX OF WIDTH--- */
@media(max-width: 359px) {

    /* -------Header( Navigation Menu )------- */
    header {
        height: 2.4rem;
    }

    header div.logoAndMenuBar a img#logo {
        width: 2.1rem;
        height: 1.9rem;
    }

    header nav ul a li {
        line-height: 1.4rem;
        font-size: 15px;
    }

    header div.logoAndMenuBar img.menuBar {
        width: 1.4rem;
        height: 1.4rem;
    }

    /* -------Form------- */
    section.boatSearch {
        margin-top: 3.1rem;
        row-gap: 0.4rem;
        padding: 0.3rem 0.2rem;
    }

    section.boatSearch h1 {
        width: 98%;
        font-size: 22px;
        margin-bottom: 0.4rem;
    }

    section.boatSearch p {
        width: 97%;
        font-size: 17px;
        margin-bottom: 0.1rem;
    }

    section.boatSearch form div.formEntrance label.sARLabel {
        border-top-left-radius: 3.4px;
        border-top-right-radius: 3.4px;
        border-bottom-left-radius: 0px;
        margin-bottom: 0.1rem;
    }

    section.boatSearch form div.formEntrance label {
        width: 32%;
        height: 1.5rem;
        font-size: 19px;
        border-top-left-radius: 3.4px;
        border-bottom-left-radius: 3.4px;
    }

    section.boatSearch form div.formEntrance textarea {
        height: 7rem;
        font-size: 17px;
        border-bottom-left-radius: 3.4px;
        border-bottom-right-radius: 3.4px;
    }

    section.boatSearch form div.importNote {
        font-size: 16.5px;
    }

    section.boatSearch form div.diContact {
        margin: 0rem 0rem;
        column-gap: 0.15rem;
    }

    section.boatSearch form div.diContact input {
        width: 67%;
        height: 1.59rem;
        font-size: 17px;
        border-top-right-radius: 3.4px;
        border-bottom-right-radius: 3.4px;
    }

    section.boatSearch form div.formEntrance button {
        margin-top: 1.3rem;
    }

    section.boatSearch form div.formEntrance div.popUp{
        width: 80vw;
        border-radius: 12px;
    }

    section.boatSearch form div.formEntrance div.popUp h3{
        font-size: 20px;
        margin-bottom: 13.8px;
    }

    section.boatSearch form div.formEntrance div.popUp p{
        font-size: 17px;
    }

    /* -------footer------- */
    footer {
        padding: 0.5rem 0.25rem;
    }

    footer div.footerLogo img {
        width: 50px;
        height: 47.8px;
    }

    footer div.footerPortContainer {
        padding: 0.7rem 0rem;
    }

    footer div.footerPortContainer h4 {
        font-size: 16px;
    }

    footer div.footerPortContainer ul li a {
        width: 5.2rem;
    }

    footer div.footerPortContainer ul li a img {
        width: 13.5px;
        height: 13.5px;
    }

    footer div.footerPortContainer ul li a p {
        font-size: 14px;
    }

    footer p#copyright {
        font-size: 14px;
    }
}
