* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

div#backsplash {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #339D87;
    background-image: url(JPEG/sky-5534319a.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -3;
}

/* -------Header( Navigation Menu )------- */
header {
    background-color: #26BD9C;
    width: 100%;
    height: 2.8rem;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: 'Eczar', serif;
    z-index: 11;
    box-shadow: 0px 0.25px 2px white;
}

header div.logoAndMenuBar {
    width: 3.4rem;
    height: 3.0rem;
    padding: 0.1rem 0.4rem;
    margin: 0.17rem 0rem 0rem 0rem;
}

header div.logoAndMenuBar a {
    text-decoration: none;
}

header div.logoAndMenuBar a img#logo {
    width: 2.8rem;
    height: 2.5rem;
    margin: 0rem auto;
}

header nav {
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul a {
    text-decoration: none;
    color: #122B44;
}

header nav ul a li {
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    margin: 0.4rem 1.7rem 0.2rem 1.7rem;
    text-align: center;
    font-size: 15px;
    line-height: 1.2rem;
    border-radius: 15px;
    box-shadow: 1px 1px 5px white;
}

header nav ul a li.active {
    color: white;
}

header nav ul a li:after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    margin-top: 0.3rem;
    background-color: #122B44;
    box-shadow: 1px 1px 7px white;
    transition: 0.3s;
}

header nav ul a li#act:after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 0.3rem;
    background-color: #122B44;
    box-shadow: 1px 1px 7px white;
    transition: 0.3s;
}

header nav ul a li:hover:after {
    width: 100%;
}

header nav ul a li.active:after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 0.3rem;
    background-color: white;
    box-shadow: 1px 1px 7px white;

}

header div.logoAndMenuBar img.menuBar {
    display: none;
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
}

/* -------Actuated Vision, Mission and Truth------- */
section#object {
    margin-top: 4.5rem;
    font-family: 'Abhaya Libre', serif;
    padding-bottom: 8rem;
}

section#object div.logo {
    width: 9.7rem;
    height: 9.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem auto;
    border-radius: 50%;
    box-shadow: 1.5px 1.5px 3px white;
}

section#object div.logo img {
    width: 9.7rem;
    height: 9.7rem;
    border-radius: 50%;
}

section#object div.posterityContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section#object div.objectPosterity {
    color: rgb(238, 238, 238);
    padding: 0.3rem;
    margin: 0.5rem 0rem;
}

section#object div.objectPosterity h3 {
    position: relative;
    z-index: 1;
    max-width: 20rem;
    height: 2.5rem;
    background-color: #4EA791;
    font-family: 'Eczar', serif;
    font-size: 25px;
    margin: 0rem auto -1.5rem;
    text-align: center;
    color: #091522;
    border-bottom-left-radius: 50%;
     border-bottom-right-radius: 50%;
    box-shadow: 2px 2px 5px white;
}

section#object div.objectPosterity p {
    width: 75vw;
    font-size: 20px;
    text-align: center;
    padding: 4.5rem 1rem;
    margin: 0.5rem auto 0rem;
    outline: 1.5px solid white;
    background-color: rgba(0, 0, 0, 0.366);
    border-radius: 11px;
}

section#object div.objectPosterity div.oPImgCon {
    text-align: center;
}

section#object div.objectPosterity img.oPImg {
    position: relative;
    z-index: 1;
    width: 7rem;
    height: 7rem;
    border: 5px solid #4EA791;
    border-radius: 50%;
    margin: -3.5rem auto 0rem;
}

/* -------FOOTER------- */
footer {
    display: flex;
    font-family: 'Abhaya Libre', serif;
    flex-direction: column;
    background: url(graph/backdroplippi.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #26BD9C;
    opacity: 0.9;
    padding-top: 1.2rem;
    margin-top: -4.4rem;
}

footer div.fterImgCon {
    width: 90px;
    height: 86.5px;
    margin: 1rem auto;
    border-radius: 50%;
    background-color: #26BD9C;
    border: 5px solid black;
}

footer div.fterImgCon img {
    width: 90px;
    height: 86.5px;
}

footer div.linksContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.8rem;
}

footer div.anchorLink h4 {
    font-family: 'Cinzel', serif;
    font-size: 19px;
    text-align: left;
    padding: 0rem 0.3rem;
    margin: 0.3rem 0rem 1.2rem 0rem;
    color: rgb(139, 0, 0);
}

footer div.anchorLink ul {
    list-style: none;
}

footer div.anchorLink ul li {
    height: 19px;
    text-align: left;
    font-size: 20px;
    padding: 0.1rem 0.3rem;
    margin: 0.8rem 0rem;
}

footer div#quickLink h4 {
    text-align: center;
}

footer div#quickLink ul li {
    text-align: center;
}

footer div.anchorLink ul li a {
    text-decoration: none;
    color: black;
    padding: 0rem 0.3rem;
}

footer div.anchorLink ul li a:hover {
    background-color: #32f3c9;
    border-radius: 7px;
}

footer div.anchorLink ul li a#redQLink {
    color: white;
    background-color: transparent;
}

footer div.anchorLink ul li a img {
    width: 19px;
    height: 19px;
}

hr#beforeRmrk {
    width: 15%;
    margin: 0.1rem auto;
    box-shadow: 1px 1px 3px whitesmoke;
}

footer div.footerRmrk {
    width: 50%;
    font-size: 18px;
    text-align: center;
    margin: 0.8rem auto;
}

footer div.footerRmrk p {
    background-color: transparent;
    color: black;
}

footer div.footerRmrk p#supportEmail {
    background-color: transparent;
    color: rgb(139, 0, 0);
}

footer p {
    width: 99%;
    font-size: 18px;
    font-family: 'Abhaya Libre', serif;
    text-align: center;
    padding: 0.2rem 0.3rem;
    color: whitesmoke;
    background-color: black;
    margin: 0.4rem auto;
}



/* ---MEDIA QUERY FOR 1700PX OF WIDTH--- */
@media(max-width: 1700px) {

    /* -------Header( Navigation Menu )------- */
    header {
        box-shadow: 0px 0.12px 2px white;
    }
    
    header div.logoAndMenuBar {
        width: 2.9rem;
        height: 2.6rem;
        padding: 0.2rem 0.4rem;
        margin: 0.25rem 0rem 0rem 0rem;
    }
    
    header div.logoAndMenuBar a img#logo {
        width: 2.5rem;
        height: 2.3rem;
    }
    
    header nav ul a li {
        padding: 0rem 0.2rem -0.2rem 0.2rem;
        margin: 0.7rem 1.4rem 0.2rem 1.4rem;
        font-size: 14px;
        border-radius: 13px;
    }
    
    header nav ul a li:after {
        margin-top: 0.1rem;
    }
    
    header nav ul a li:hover:after {
        width: 100%;
    }
    
    header nav ul a li.active:after {
        margin-top: 0.1rem;
    }

/* -------Actuated Vision, Mission and Truth------- */
section#object {
    margin-top: 4.8rem;
}

section#object div.logo {
    width: 7.4rem;
    height: 7.4rem;
}

section#object div.logo img {
    width: 7.4rem;
    height: 7.4rem;
}

section#object div.objectPosterity {
    margin: 1.2rem auto;
}

section#object div.objectPosterity h3 {
    max-width: 18rem;
    height: 2.4rem;
    font-size: 22px;
}

section#object div.objectPosterity p {
    width: 87vw;
    font-size: 19px;
}

section#object div.objectPosterity img.oPImg {
    width: 6rem;
    height: 6rem;
    margin: -3rem auto 0rem;
}

/* -------FOOTER------- */
footer {
    padding-top: 1rem;
    margin-top: -4.7rem;
}

footer div.fterImgCon {
    width: 80px;
    height: 76.9px;
    margin: 0.8rem auto;
    border: 3.5px solid black;
}

footer div.fterImgCon img {
    width: 80px;
    height: 76.9px;
}

footer div.linksContainer {
    margin-bottom: 0.8rem;
}

footer div.anchorLink h4 {
    font-size: 16px;
    margin: 0.35rem 0rem 0.4rem 0rem;
}

footer div.anchorLink ul li {
    height: 16.5px;
    font-size: 16px;
    padding: 0.1rem 0.25rem;
    margin-top: 0.35rem;
}

footer div.anchorLink ul li a:hover {
    border-radius: 6px;
}

footer div.anchorLink ul li a img {
    width: 16.5px;
    height: 16.5px;
}

footer div.footerRmrk {
    width: 75%;
    font-size: 15.5px;
    margin: 0.7rem auto;
}

footer p {
    font-size: 16px;
    padding: 0.2rem 0.2rem;
    margin: 0.3rem auto;
}

}







/* ---MEDIA QUERY FOR 685PX OF WIDTH--- */
@media(max-width: 685px) {

    /* -------Header( Navigation Menu )------- */
    header {
        display: inline-block;
        height: 2.7rem;
    }

    header div.logoAndMenuBar {
        padding: 0.1rem 0.4rem;
        margin-top: 0.1rem 0rem;
    }

    header div.logoAndMenuBar a img#logo {
        width: 2.5rem;
        height: 2.3rem;
    }

    header nav {
        width: 0%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0rem;
        top: 0rem;
        margin-top: 0px;
        background: url(JPEG/background4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 13px;
        border-bottom-left-radius: 13px;
        transition: 1.2s;
    }

    header nav ul {
        margin-top: 2rem;
    }

    header nav ul a li {
        width: 8rem;
        line-height: 1.8rem;
        background-color: #26BD9C;
        margin-top: 2.25rem;
        margin-left: 1rem;
        padding: 0rem 0.2rem;
        font-family: 'Eczar', serif;
        font-size: 16px;
    }

    header nav ul a li.active {
        background-color: #122B44;
    }

    header nav ul a li:active {
        background-color: #32f3c9;
    }

    header nav ul a li:after {
        content: '';
        display: none;
    }

    header nav ul a li.active:after {
        content: '';
        display: none;
    }

    header nav ul li a:hover {
        color: white;
    }

    header div.logoAndMenuBar img.menuBar {
        width: 1.7rem;
        height: 1.7rem;
        display: block;
        position: absolute;
        z-index: 1;
        right: 0rem;
        top: 0rem;
        margin: 0.5rem 0.6rem 1rem 0rem;
    }

    header div.logoAndMenuBar img#close {
        display: none;
    }

    /* -------Actuated Vision, Mission and Truth------- */
    section#object {
        margin-top: 3.3rem;
    }

    section#object div.logo {
        width: 7.1rem;
        height: 7.1rem;
    }

    section#object div.logo img {
        width: 7.1rem;
        height: 7.1rem;
    }

    section#object div.objectPosterity h3 {
        max-width: 17.5rem;
        font-size: 21.5px;
    }

    section#object div.objectPosterity p {
        width: 93vw;
        font-size: 19px;
    }

    /* -------Footer------- */
    footer {
        padding-top: 0.5rem;
        margin-top: -3.2rem;
    }
    
    footer div.fterImgCon {
        width: 58px;
        height: 55.5px;
        margin: 0.75rem auto;
        border: 2.5px solid black;
    }
    
    footer div.fterImgCon img {
        width: 58px;
        height: 55.5px;
    }
    
    footer div.linksContainer {
        margin-bottom: 0.9rem;
    }

    footer div.anchorLink h4 {
        font-size: 14px;
        margin: 0.45rem 0rem 0.45rem 0rem;
    }
    
    footer div.anchorLink ul li {
        height: 15px;
        font-size: 15px;
        margin-top: 0.3rem;
    }
    
    footer div.anchorLink ul li a img {
        width: 15px;
        height: 15px;
    }
    
    footer div.footerRmrk {
        width: 80%;
        font-size: 14.5px;
        margin: 0.9rem auto;
    }
    
    footer p {
        font-size: 15px;
        padding: 0.2rem 0.2rem;
        margin: 0.3rem auto;
    }

}







/* ---MEDIA QUERY FOR 359PX OF WIDTH--- */
@media(max-width: 359px) {

    /* -------Header( Navigation Menu )------- */
    header {
        height: 2.4rem;
    }

    header div.logoAndMenuBar a img#logo {
        width: 2.1rem;
        height: 1.9rem;
    }

    header nav ul a li {
        line-height: 1.4rem;
        font-size: 15px;
    }

    header div.logoAndMenuBar img.menuBar {
        width: 1.4rem;
        height: 1.4rem;
    }

    /* -------Actuated Vision, Mission and Truth------- */
    section#object {
        margin-top: 3.2rem;
    }

    section#object div.logo {
        width: 5.9rem;
        height: 5.9rem;
        margin-bottom: -0.8rem;
    }

    section#object div.logo img {
        width: 5.9rem;
        height: 5.9rem;
    }

    section#object div.objectPosterity {
        width: 100%;
    }

    section#object div.objectPosterity h3 {
        max-width: 15rem;
        font-size: 21px;
    }

    section#object div.objectPosterity p {
        font-size: 17px;
    }

    /* -------footer------- */
    footer {
        padding-top: 0.45rem;
        margin-top: -3.1rem;
    }
    
    footer div.fterImgCon {
        width: 50px;
        height: 47.8px;
    }
    
    footer div.fterImgCon img {
        width: 50px;
        height: 47.8px;
    }

    footer div.anchorLink h4 {
        text-align: center;
        font-size: 12px;
        margin: 0.45rem 0rem 0.45rem 0rem;
    }
    
    footer div.anchorLink ul li {
        height: 14px;
        font-size: 14px;
        margin-top: 0.2rem;
    }
    
    footer div.anchorLink ul li a img {
        width: 14px;
        height: 14px;
    }
    
    footer div.footerRmrk {
        width: 92%;
        font-size: 13.5px;
    }
    
    footer p {
        font-size: 14px;
        padding: 0.2rem 0.1rem;
        margin: 0.25rem auto;
    }
}
